# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js Build Outputs
.next/
out/
build/

# Production and Local Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env.json

# Debug Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Testing
coverage/
.nyc_output

# Operating System Files
.DS_Store
Thumbs.db

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
